.profile-image{
    max-width: 150px;
    height: auto;
    display: block;
    margin: 20px auto;
}
.skill-image{
    max-width: 50px;
    height: auto;
    margin-right: 10px;
    vertical-align: middle;
}
.stage{
    margin: 20px;
    text-align: center;
}
.image-container{
    position: relative;
    display:inline-block;
}
.clickable-image{
    width: 300px;
    height: auto;
    cursor: pointer;
    border-radius:8px;
}
.overlay{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color: wheat;
    background-color: rgba(red, green, blue, alpha);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
}
.image-container:hover.overlay{
    opacity: 1;
}
body {
    font-family:Arial, Helvetica, sans-serif ;
    margin:0 ;
    padding: 0;
    background-color: #f4f4f4;
}
body html{
    margin:0;
    padding:0;
    height: 100%
}
header{
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul{
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
nav a {
    color: #fff;
    text-decoration:none;
}
